*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
h1{
    text-align: center;
}
h3{
    text-align: center;
    margin-top: 5px;
}
table{
    width: 60%;
    height: 60%;
    background-color: #f3dacc;
    border-spacing: 5px 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}
th , td{
    padding: 7px 10px 10px 10px;
    text-align: center;
}
th{
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 90%;
    /* border-top: 1px solid lightgray; */
    border-bottom: 2px solid black;
}
.even{
    background-color: #b1f4e4fd;
}
tr:hover{
    background-color: #cf6828;
    transition: .5s;
}
.grades{
    color: rgb(255, 68, 0);
}

